*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.navbar-brand{
    margin: 0;
    height: 100%;          /* Take full height of the navbar */
    max-height: 50px;      /* Prevent the image from being too large */
    width: auto;           /* Maintain aspect ratio */
    object-fit: contain;   /* Ensure the entire image fits */
  }
  .nav-link {
    color: white !important;
  }

  #slidingImg{
    /* padding-top: 65px; */
    object-fit: cover;
  }

  #containerforimg{
    
    /* height: clamp(300px, 70vh, 90%); */
    width: 90vw;
    border: 2px solid black;
    /* background-color: red; */
    padding-top: 65px;
    margin: 0px auto;
      
  }
  
  /* class card section css code start */
  #titleclass{
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family: cursive;
    font-weight: bold;
  }

  #forclasses{
    
    width: 90vw;
    border: 3px solid black;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }

  .subclasses{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    margin: 20px auto;
    border-radius: 10px;
    /* background-image:url(/images/yoga.jpg);
    background-size: cover;
    background-position: center; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 4px 8px black;
    transition: transform 0.5s ease-in;
  }

  .subclasses:hover{
    box-shadow: 0 8px 16px black;
    transform: scale(1.1);
  }

  #bgimage{
    height: 70%;
    width: 100%;
    border-radius: 10px; 
  }

  #imageforyoga{
    background-image:url(/images/yogabg.jpg);
    background-size: cover;
    background-position: center;
  }

  #imageformeditation{
    background-image:url(/images/meditationbg.jpg);
    background-size: cover;
    background-position: center;
  }

  #imageforzumba{
    background-image:url(/images/zumbabg.jpg);
    background-size: cover;
    background-position: center;
  }


  .subclasses div{
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
  }

  /* blog section css code start */
  #blogsection{
    margin: 10px auto;
    
    width: 93vw;
    border: 3px solid black;
    border-radius: 25% 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .subblog{
    height: 600px;
    width: 46%;
    border: 2px solid black;
    border-radius: 10% / 50%;
    text-align: center;
    
    
  }

  #blogimg{
    background-image: url(images/blogimg.jpg);
    background-size: cover;
    background-position: center;
  }

  .subblog h2{
    text-align: center;
    margin: 20px 50px 30px;
  }

  .subblog p{
    line-height: 2rem;
    overflow-wrap: break-word;
    padding: 20px 5px;
    font-size: 1.5vw;
    text-align: center;
  }

  #rahul{
    padding-right: 20px;
    overflow-wrap: break-word;
    text-align: right;
    
  }

  .subblog button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* start about us code */

  #aboutus {
    margin: 20px auto;
    width: 90VW;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

 .developercard {
  height: 300px;
  width: 350px;
  margin: 20px 20px;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 8px black;
  transition: transform 0.5s ease-in;
 }
 
 .developercard:hover{
    box-shadow: 0 8px 16px black;
    transform: rotate(05deg);
    cursor: pointer;

 }

 #showcolor {
  height: 40%;
  width: 100%;
  border-bottom: 2px solid black;
  border-radius: 17px;
  background-image: url(/images/codebg.jpg);
  background-size: cover;
  background-position: center;
 }

 #description {
  height: 60%;
  width: 100%;
  text-align: center;
 }

 #description h4{
  margin-top: 25px;
  
 } 

 #description h6{
  padding-bottom: 10px;
  border-bottom: 4px solid red;
  border-bottom-right-radius: 90%;
  border-bottom-left-radius: 90%;
 }


 #profilepic {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  bottom: 280px;
  left: 35%;
  background-image: url(/images/profile.jpg);
  background-size: cover;
  background-position: center;
 }


/* contact us form start from here */
#contact-container {
  font-family: 'Outfit';
  background: linear-gradient(#ffdad5, #fff7f9);
  height: 100vh;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-left button {
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff944f, #fa6d86);
  cursor: pointer;
}
  
  


  




  

  